# Dependencies
node_modules/

# Output files
dist/
build/

# Webpack bundler inspector
build-bundle-analysis.json

# Editors
.vscode
.idea

# Cache sass
.sass-cache/
*.map

# Environmental variables
.env
.env.development

# Logs
logs
*.log
npm-debug.log*

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz
